.navbar {
  background-color: $gray;
  box-shadow: 0 0 4px 2px #b3b3b3;
  
  .navbar-brand {
    img {
      width: 90px;
    }
  }

  .navbar-nav {
    .nav-link {
      cursor: pointer;
      font-weight: 500;
      margin-right: 25px;
    }

    .active {
      text-decoration: underline;
    }
  }
}